<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (user) { %>
   <% runs.forEach(run => { %>
    <div class="card">
      <div class="card-body">
        <p><%= new Date(run.date).toDateString() %></p>
        <p><%= run.distance %> miles</p>
        <a href="/runs/<%= run._id %> ">View Run</a>
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>

    
  <% }) %> 

  <% } %>
</main>

<%- include('../partials/footer') %>