<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (user) { %>
   <ul>
   <% runs.forEach(run => { %>
    <li><%= run.date %></li>
    <li><%= run.distance %> </li>
    <li><%= run.time/run.distance %></li>
    <li><a href="/runs/<%= run._id %> ">View Run</a></li>
  <% }) %> 
  </ul>
  <% } %>
</main>

<%- include('../partials/footer') %>