<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/index.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <div class="header" >
      <h1><%= title %></h1>
      <a class="add-run" href="/runs/new"><i class="fa-solid fa-plus"></i></a>
    </div>
    <% if (!runs.length) { %>
      <div class="no-runs-msg">
        <h2>You have no activities! Click the plus button to add a new run.</h2>
      </div>
    <% } %> 
    <% runs.forEach(run => { %>
      <div class="run-label">
        <p class="date-text">
          <%= new Date(run.date).toDateString() %>
        </p>
      </div>
      <section class="run-body">
        <p class="achievement-star">
          <% if (run.achievements.length) { %>
            ⭐️
        <% } %>
        </p>
        <i class="fa-solid fa-person-running"></i>
        <p id="runs-distance"><%= run.distance %> miles</p>
        <p id="runs-time" class=""><%= run.time %> minutes</p>
        <a id="runs-view" href="/runs/<%= run._id %> "><i class="fa-solid fa-angle-right"></i></a>
      </section>
      <% }) %> 
      <% } %>
</main>

<%- include('../partials/footer') %>