<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/show.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
  <div class="header" >
    <a class="back-arrow" href="/runs"><i class="fa-solid fa-angle-left"></i></a>
    <h1><%= title %></h1>
    <form class="delete" action="/runs/<%= run._id %>?_method=DELETE" method="POST">
      <button id="garbage-btn" type="submit"><i class="fa-solid fa-trash-can"></i></button>
    </form>
  </div>
  <div id="run-label">
    <p><i class="fa-solid fa-person-running"></i> Date: <%= new Date(run.date).toDateString() %></p>
  </div>

    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Date: <%= new Date(run.date).toDateString() %></li>
            <li class="list-group-item">Distance: <%= run.distance %></li>
            <li class="list-group-item">Time: <%= run.time %> </li>
            <li class="list-group-item">Average Pace: <%= run.time/run.distance %> mins/mile</li>
            <li class="list-group-item"><%= run.notes === '' ? 'Notes: None' : `Notes:  ${run.notes}` %></li>
          </ul>
        </p>

        <div>
          <ul>
            <% run.achievements.forEach(achievement => { %>
              <li><%= achievement.content %> </li>
             
            <% }) %>
          </ul>
        </div>
        <form action="">
          <select name="goalId" id="">
            <% goals.forEach(goal => { %>
             <option value="<%= goal._id %> "><%= goal.content %> </option>
            <% }) %>
          </select>
        </form>

        

        <form action="/runs/<%= run._id %>/edit" method="GET">
          <button type="submit" class="btn btn-outline-warning">Edit</button>
        </form>

        <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </div>
    </div>

   
  <% } %>
</main>

<%- include('../partials/footer') %>