<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/runs/show.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
  <div class="header" >
    <a class="back-arrow" href="/runs"><i class="fa-solid fa-angle-left"></i></a>
    <h1><%= title %></h1>
    <form class="delete" action="/runs/<%= run._id %>?_method=DELETE" method="POST">
      <button id="garbage-btn" type="submit"><i class="fa-solid fa-trash-can"></i></button>
    </form>
  </div>

  <div id="run-label">
    <p><i class="fa-solid fa-person-running"></i> Date: <%= new Date(run.date).toLocaleDateString() %></p>
  </div>

  <div class="card">
    <div class="distance-label" >Distance:</div>
    <div class="distance"> <%= run.distance %></div>
    <div class="time-label">Time:</div>
    <div class="time"> <%= run.time %></div>
    <div class="average-pace-label" >Average Pace:</div>
    <div class="average-pace"> <%= run.time/run.distance %> mins/mile</div>
    <div class="notes-label">Notes</div>
    <div class="notes"><%= run.notes === '' ? 'None' : `${run.notes}` %>
    </div>
    <div class="achievements-label" ><%= run.achievements.length > 1 ? 'Achievements' : 'Achievement' %> </div>
<div class="achievements-list">
    <ul>
      <% run.achievements.forEach(achievement => { %>
        <li>⭐️ <%= achievement.content %></li>
      <% }) %>
    </ul>
</div>
    <form class="add-achievement-to-run" action="/runs/<%= run._id  %>/goals" method="POST">
      <select class="achievement-select" name="goalId">
        <% goals.forEach(goal => { %>
          <option value="<%= goal._id %>"><%= goal.content %></option>
        <% }) %>
      </select>
      <button type="submit" class="btn btn-outline-primary">Add Achievement</button>
    </form>

    <form action="/runs/<%= run._id %>/edit" method="GET">
          <button type="submit" class="btn btn-outline-warning">Edit</button>
        </form>

    <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Delete</button>
      </form>

  </div>

  <% } %>
</main>

<%- include('../partials/footer') %>