<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <% if (user) { %>
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Date: <%= new Date(run.date).toDateString() %></li>
            <li class="list-group-item">Distance: <%= run.distance %></li>
            <li class="list-group-item">Time: <%= run.time %> </li>
            <li class="list-group-item">Average Pace: <%= run.time/run.distance %> mins/mile</li>
            <li class="list-group-item">Notes: <%= run.notes %></li>
          </ul>
        </p>

        <form action="/runs/<%= run._id %>/edit" method="GET">
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>

        <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </div>
    </div>

    <form action="/runs/<%= run._id %>/edit" method="GET">
      <button type="submit">Edit Run</button>
     </form>
     <form action="/runs/<%= run._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Run</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>