<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/goals/edit.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <div class="header" >
      <a class="back-arrow" href="/goals"><i class="fa-solid fa-angle-left"></i></a>
      <h1><%= title %></h1>
      

      <form action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
      </form>
    </div>
    
    <section>
      <form action="/goals/<%= goal._id %>?_method=PUT" method="POST">
        

        <div>
          <input class="edit-goal-input" type="text" maxlength="300" name="content" value="<%= goal.content %>">
        </div>
        <div>Achieved
          <input name="achieved" type="checkbox"
          <%= goal.achieved ? 'checked' : '' %>
          >
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
      
    </section>
      <% } %>
</main>

<%- include('../partials/footer') %>