<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/goals/edit.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <% if (user) { %>
    <form action="/goals/<%= goal._id %>?_method=PUT" method="POST">
      <label>
        <input class="edit-goal-input" type="text" maxlength="300" name="content" value="<%= goal.content %>">
      </label><br>
      <button type="submit" class="btn btn-outline-warning">Update</button>
    </form>
    

<button type="submit" class="btn btn-outline-danger">Delete</button>
      <% } %>
</main>

<%- include('../partials/footer') %>