<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/goals/index.css">
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <div class="header" >
    <h1><%= title %></h1>
    <a class="add-goal" href="/goals/new"><i class="fa-solid fa-plus"></i></a>
  </div>

   <% goals.forEach(goal => { %>
    <section>
      <div class="goal-div">
      <p>
        <% if (goal.achieved) { %>
          <i class="fa-solid fa-check"></i> 
        <% } %>
        <%= goal.content %> 
      </p>
      <form action="/goals/<%= goal._id %>/edit" method="GET">
        <button id="edit-goal-btn" type="submit"><i class="fa-solid fa-pen-to-square"></i></button>
      </form>
      
    </div>
    </section>
    

    
  <% }) %> 
  <% } %>
  
</main>

<%- include('../partials/footer') %>