<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/goals/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <br>
  <% if (user) { %>
   <form action="/goals" method="POST">
    <div class="input-group mb-3">
      <input type="text" name="content" class="form-control" placeholder="Enter your new goal" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Goal</button>
    </div>
  </form>

  <ul class="list-group">
   <% goals.forEach(goal => { %>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      <%= goal.content %>
      <form action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">X</button>
    </form>
    </li>
    
  <% }) %> 
  </ul>

  <% } %>
  
</main>

<%- include('../partials/footer') %>