<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <br>
  <% if (user) { %>
   <form action="/goals" method="POST">
    <label>
      <input type="checkbox" name="achieved">
    </label>
    <label>
      <input type="text" name="content" placeholder="Enter your new goal">
    </label>
    <button type="submit">Add Goal</button>
  </form>
  <ul>
   <% goals.forEach(goal => { %>
    <li><%= goal.content %> </li>
    <li><%= goal.achieved ? 'Yes' : 'No' %></li>
    <form action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
      <button type="submit">X</button>
    </form>
  <% }) %> 
  </ul>
  <% } %>
  
</main>

<%- include('../partials/footer') %>